@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited {
color: $link-color;
}
a:hover {
color: $link-hover-color;
}

strong, th {
font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
background-color: #f0dddd;
}


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
	font-family: "museo-1","museo-2",sans-serif;
	height: 600px;
	width: 100%;
	background-color: $xero-blue;
}
header{
	height: 250px;
	min-width:980px;
	background-color: #3A3B3F;
	background-image: url("/images/wdcnz.png") no-repeat;
}
input
{
	font-family: "museo-1","museo-2",sans-serif;	
}
#container {
	height: 100%;
}
h1 {
	color: #FFF;
	font-size: 60px;
	font-weight: 700;
	text-shadow: $dropshadow;
}
.followup {
	width: 800px;
	margin-left:120px;
	.text {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
	}
	.share {
	}
	.twitter {
		float: left;
	}
	.thanks {
		margin-right:100px;
		width: 450px;
		float: left;
	}
}
.words {
	float: left;
	margin-top: 55px;
	width: 700px;
	margin-left: 42px;
	background:url('/images/wdcnz.png') no-repeat;
	padding-left:58px;
	padding-top:58px;
}
.info {
	color: #FFF;
	font-size: 24px;
	font-weight: 500;
	margin-top: 2px;
	letter-spacing:1px;
	text-shadow: $dropshadow;
	.divider {
		color: #666666;
		font-weight: 300;
		text-shadow:none;
	}
}
.b-line {
	color: $xero-blue;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}
.sponsor {
	color: #68686A;
	font-size: 12px;
	font-weight: 700;
	width: 140px;
	height: 50px;
	margin-right: 40px;
	margin-top: 40px;
	.logo {
		width: 50px;
	}
	.cheers {
		margin-top: 17px;
	}
}
.fade{
	opacity: .0;
	filter: alpha(opacity = 0);
}
.right {
	float: right;
}
.left {
	float: left;
}
.social-links {
	width: 220px;
	margin: auto;
	margin-top: 5px;
	.twitter {
		width: 110px;
		float: left;
	}
	.facebook {
		width: 77px;
		float: right;
		text-align: right;
	}
}
input.wide {
	width: 320px;
	height: 48px;
	padding-left:15px;
}
input.blue {
	background-color: #3A3B3F;
	border-radius: 4px;
	border: 1px solid #38393D;
	text-align: left;
	font-size: 18px;
	font-weight: 700;
	color: #D7D7D8;
	-moz-box-shadow: inset 0 0 2px #333;
	-webkit-box-shadow: inset 0 0 2px #333;
	box-shadow: inner 0 0 2px #333;
}
input.link-button {
	border: none;
	background: none;
	color: #3a3b3f;
	width: 75px;
	font-size: 18px;
	font-weight: 700;
	text-align: middle;
	padding: 0px;
	letter-spacing: 1.5px;

}
input.link-button:hover {
	color: #FFF;
	text-shadow:$dropshadow-onblue;
}
.elements {
	margin-left: 100px;
	width: 420px;
	.input-bar{
		background:url('/images/title_lower_bar.png') no-repeat;
		width:320px;
		height:1px;
		margin-left:3px;
	}
}

#main {
	.bar{
		overflow:hidden;
		margin-bottom:50px;
		width:100%;
		height:1px;
		position:relative;
		margin-right:0px;
		float:left;
		.image{
			height:1px;
			width:1024px;
			margin:auto;
			background:url('/images/title_lower_bar.png') no-repeat;
		}
	}
	h1{
		text-shadow:$dropshadow-onblue;
	}

}

