@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
    color: $font-color;
    // Set your base font here, to apply evenly
    // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
    // Bold might not be the best choice if you are
    // embedding a @font-face that's already bold
    font-weight: bold;
}

a, a:active, a:visited {
    color: $link-color;
}
a:hover {
    color: $link-hover-color;
}

strong, th {
    font-weight: bold;
}

small {
    // Use font-size mixin to convert to percentage for YUI
    // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
    @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
    @include border-radius(1px);
    @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
    font-family: "museo-1","museo-2",sans-serif;
    width: 100%;
    background-color:#FF9900;
}
header{
    position:relative;
    height: 210px;
    min-width:980px;
    background-color: #3A3B3F;
    background-image: url("/images/wdcnz.png") no-repeat;
    .bar{
        height:1px;
        background:red;
        position:absolute;
        bottom:0px;
        left:0px;
        width:100%;
  background-color: #3A3B3F;
        @include linear-gradient(color-stops(#FF9900,#FFA826,#FF9900));
    }
}

#container {
    height: 100%;
    
}
h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    @include text-shadow($dropshadow-header);
}
.wdcnz_logo{
    position:absolute;
    top:30px;
    left:42px;
    
}
#wdcnz_logo_small{
    display:none;
}
.words {
    float: left;
    margin-top: 42px;
    width: 700px;
    margin-left: 42px;
    padding-left:58px;
    padding-top:43px;
}
.info {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    @include text-shadow($dropshadow-header);
    .divider {
        color: #666666;
        font-weight: 300;
        text-shadow:none;
    }
}
.b-line {
    color: #FF9900;
    height:65px;
    @include transition-duration(0.5s);
}
.sponsor {
    color: #68686A;
    font-size: 12px;
    font-weight: 700;
    width: 140px;
    height: 50px;
	position:absolute;
	right:60px;
	top:30px;
    .logo {
        width: 50px;
    }
    .cheers {
        margin-top: 17px;
    }
}
.fade{
    @include transparent;
}
.right {
    float: right;
}
.left {
    float: left;
}

#main {
    padding-bottom:100px;
    //@include linear-gradient(color-stops(#FF9900,#CC6600));
    
    #content{
        
//        margin-left:100px;
        padding-top:23px;
        padding-bottom:25px;
    }
    #sidebar-right{
        width:275px;
		height:492px;
		
        margin-right:60px;
        float:right;
        text-align:right;
		menu{
			
			border-top:1px solid #EA8f05;
			margin-right:6px;
			list-style:none;
			li{
	               
	                color:#3A3B3F;
	                font-weight:700;
	                
	                @include text-shadow($dropshadow-light);
	                a{
	                    text-decoration:none;
	                    color:#FFF;
	                    @include text-shadow($dropshadow-dark);
	                }
	                a:hover{
	                    color:#3A3B3F;
	                    @include text-shadow($dropshadow-light);
	                }
	            }
		}
        menu.primary{
			padding-top:6px;
			padding-bottom:20px;
           li{
				margin-top:8px;
               margin-bottom:8px;
				font-size:22px;
			}
        }
		menu.secondary{
			padding-top:6px;
			padding-bottom:18px;
				border-bottom:1px solid #EA8f05;
			li{
				margin-top:15px;
                margin-bottom:15px;
				font-size:18px;
			}
		}
        h2 a{
            color:#FFF;
            font-size:40px;
            text-decoration:none;
            text-transform:uppercase;
            @include text-shadow($dropshadow-dark);
            font-weight:700;
            
        }
        h2 a:hover{
            color:#3A3B3F;
            @include text-shadow($dropshadow-light);
        }
        h2{
            height:43px;
        }
        h3{
            color:#3A3B3F;
            font-size:20px;
            font-weight:700;
            @include text-shadow($dropshadow-light);
        }
    }
}
.ticket_link{
    padding-top:21px;
    padding-bottom:17px;
   // border-bottom:2px solid #3A3B3F;
    margin-bottom:12px;
    margin-right:0px !important;
    width:270px;
}
.speaker_names_big{
	margin-left:100px;
    list-style:none;
    font-size:60px;
    color:#3A3B3F;
    font-weight:700;
    padding-top:3px;
    li{
	
        line-height:56px;
    }
    a{
        color:#3A3B3F;
        text-decoration:none;
        text-transform:uppercase;
        @include text-shadow($dropshadow-light);
        margin-top:0px;
        margin-bottom:0px;
    }
    a:hover
    {
        color:#FFF;
    }
}
#content h1{
	margin-left:100px;
    font-size:40px;
    font-weight:700;
    
    text-transform:uppercase;
    color:#3A3B3F;
    @include text-shadow($dropshadow-light);
    
}
#content h1.space{
    margin-bottom:25px;
}
ul.speakers{
    margin:0px;
    padding:0px;
}
ul.speakers li{
    list-style:none;
    margin-top:5px;
}
.details-box{
    height:90px;
    margin-top:15px;
    float:left;
    min-width:127px;
    .image{
        float:left;
        height:77px;
        width:127px;
        margin-top:5px;
        border:1px solid black;
    }
    .profile_pic{
        width:127px;
        height:77px;
    }
    .text{
        float:left;
        padding:0px;
        margin:0px;
        margin-left:15px;
        font-size:14px;
        width:350px;
        font-family:sans-serif;
        .title{
            font-size:24px;
            font-weight:700;
            @include text-shadow($dropshadow-light);
            text-transform:uppercase;
            color:#3A3B3F;
            font-family: "museo-1","museo-2",sans-serif;
        }
        .link{
            margin-bottom:5px;
            a{
                color:#FFF;
                text-decoration:none;
            }
            
        }
        .blurb{
        }
    }
}
#content h2{
    font-size:24px;
    text-transform:uppercase;
    font-weight:700;
    color:#3A3B3F;
    @include text-shadow($dropshadow-light);
    margin-top:15px;
    margin-bottom:5px;
}
#content a.twitter{
    color:#FFF;
}
#content a{
    color:#3A3B3F;
}
#content a:hover{
    color:#FFF;
}
#content p{
    
    font-family:sans-serif;
    font-size:14px;
    margin-bottom:25px;
    width:520px;
    color:#000;
    a{
        text-decoration:none;
        color:#FFF;
    }
    a:hover{
        color:#3A3B3F;
    }
}
#content input{
    font-family:"museo-1","museo-2",sans-serif;
}
#content input.field{
    height:48px;
    width:320px;
    padding-left:15px;
    color:#D7D7D7;
    @include box-shadow(#333,0px,0px,2px,0,inset);
    background-color: #3A3B3F;
    border-radius: 4px;
    border: 1px solid #38393D;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}
#content input.link-button{
    border: none;
    background: none;
    color: #3a3b3f;
    width: 75px;
    font-size: 18px;
    font-weight: 700;
    text-align: middle;
    padding: 0px;
    letter-spacing: 1.5px;
    @include text-shadow($dropshadow-light);
}
#content input.link-button:hover {
    color: #FFF;
    @include text-shadow($dropshadow-dark);
}

table.schedule{
	
    border-bottom:none;
    border-left:none;
    border-right:none;
    border-top:none;
    position:relative;
    margin-left:30px;
    margin-top:45px;
    tr{
        border:none;
    }
    td{
        border:none;

    }
    td.time
    {
        font-size:13px;
        font-weight:300;
        color:#3a3b3f;
        width:70px;
        padding-top:8px;
    }
    td.session
    {
        border-top:1px solid #EA8f05;
        padding-top:0px;
        .info{
          text-shadow:none;
          color:#3a3b3f;
          font-weight:500;
          font-size:18px;
          text-transform:uppercase;
          margin-top:5px;
		  margin-bottom:5px;
          line-height:19px;
        }
        .speaker
        {
            margin-top:5px;
            a{
              color:#FFF !important;
              text-decoration:none;
            }
            a:hover
            {
              color:#3A3B3F !important;
              @include text-shadow($dropshadow-light);
            }
            text-transform:uppercase;
            color:#FFF;
            font-size:18px;
            text-decoration:none;
            text-transform:uppercase;
            @include text-shadow($dropshadow-dark);
            font-weight:700;
        }
        .subtitle
        {
          font-family:arial,sans-serif;
          font-size:12px;
          font-weight:normal;
          color:#3a3b3f;
        }
        .room
        {
          font-family:arial,sans-serif;
          font-size:11px;
          font-weight:normal;
          color:#c47d13;
          margin-bottom:7px;
          text-transform:uppercase;
        }
    }
    td.session.first
    {
        padding-right:15px;
        padding-left:5px;
    }
    td.session.last
    {
        padding-left:15px;
        padding-right:30px;
        border-left:  1px solid #EA8f05;
    }
	tr.end
	{
		height:1px;
	}
}
#content .speakers,
#content h2,
#content p,
#content form
{
	margin-left:100px;
}
#content .speakers{
	p{
		margin-left:0px;
	}
}
.mask{
  position:absolute;
  width:100%;
  height:100%;
  background:url('/images/mask.png');
  top:0;
  left:0;
  .winner{
    .header{
      background-color:#3a3b3f;
      height:114px;
      .close 
      {
        text-align:right;
        a{
        color:#FFF;
        text-decoration:none;
        }
        padding-right:10px;
        padding-top:10px;
      }
      .title
      {
        text-align:center;
        font-weight:700;
        font-size:60px;
        color:#FFF;
      }
    }
    .message{
    font-size:21px;
     font-wight:100;
      color:#3a3b3f;
      .line1{
        padding-top:33px;
        text-align:center;
      }
      .line2{
        text-align:center;
        padding-top:35px;
        text-align:center;

        .bolded{
          font-weight:700;
        }
      
      }
      h2{
      padding-top:30px;
        text-align:center;
            a{
              color:#FFF;
              font-size:40px;
              text-decoration:none;
              text-transform:uppercase;
              @include text-shadow($dropshadow-dark);
              font-weight:700;
            }
      
      }
    }
    background:#FF9900;
    position:absolute;
    width:665px;
    height:405px;
    top:295px;
    left:180px;
    border:3px #3a3b3f solid;
    @include border-radius(5px, 5px);
  }
  
}
.hide
{
display:none;
}