/* line 14, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 23, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top;
}

/* line 22, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 73, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 74, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 79, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 84, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 91, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 92, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 97, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 108, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 112, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 119, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-head/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 8, ../../app/stylesheets/partials/_page.scss */
body, select, input, textarea {
  color: #2c5561;
}

/* line 15, ../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, ../../app/stylesheets/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 24, ../../app/stylesheets/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 28, ../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 32, ../../app/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 42, ../../app/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 47, ../../app/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 56, ../../app/stylesheets/partials/_page.scss */
body {
  font-family: "museo-1","museo-2",sans-serif;
  height: 600px;
  width: 100%;
  background-color: #CC6600;
}

/* line 62, ../../app/stylesheets/partials/_page.scss */
header {
  position: relative;
  height: 210px;
  min-width: 980px;
  background-color: #3A3B3F;
  background-image: url("/images/wdcnz.png") no-repeat;
}
/* line 68, ../../app/stylesheets/partials/_page.scss */
header .bar {
  height: 1px;
  background: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff9900), color-stop(50%, #ffa826), color-stop(100%, #ff9900));
  background-image: -moz-linear-gradient(top, #ff9900 0%, #ffa826 50%, #ff9900 100%);
  background-image: linear-gradient(top, #ff9900 0%, #ffa826 50%, #ff9900 100%);
}

/* line 79, ../../app/stylesheets/partials/_page.scss */
#container {
  height: 100%;
}

/* line 83, ../../app/stylesheets/partials/_page.scss */
h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  text-shadow: #333333 0px 1px 1px;
}

/* line 89, ../../app/stylesheets/partials/_page.scss */
.wdcnz_logo {
  position: absolute;
  top: 30px;
  left: 42px;
}

/* line 95, ../../app/stylesheets/partials/_page.scss */
#wdcnz_logo_small {
  display: none;
}

/* line 98, ../../app/stylesheets/partials/_page.scss */
.words {
  float: left;
  margin-top: 42px;
  width: 700px;
  margin-left: 42px;
  padding-left: 58px;
  padding-top: 43px;
}

/* line 106, ../../app/stylesheets/partials/_page.scss */
.info {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  text-shadow: #333333 0px 1px 1px;
}
/* line 112, ../../app/stylesheets/partials/_page.scss */
.info .divider {
  color: #666666;
  font-weight: 300;
  text-shadow: none;
}

/* line 118, ../../app/stylesheets/partials/_page.scss */
.b-line {
  color: #FF9900;
  height: 65px;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 123, ../../app/stylesheets/partials/_page.scss */
.sponsor {
  color: #68686A;
  font-size: 12px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  margin-right: 66px;
  margin-top: 30px;
}
/* line 131, ../../app/stylesheets/partials/_page.scss */
.sponsor .logo {
  width: 50px;
}
/* line 134, ../../app/stylesheets/partials/_page.scss */
.sponsor .cheers {
  margin-top: 17px;
}

/* line 138, ../../app/stylesheets/partials/_page.scss */
.fade {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/* line 141, ../../app/stylesheets/partials/_page.scss */
.right {
  float: right;
}

/* line 144, ../../app/stylesheets/partials/_page.scss */
.left {
  float: left;
}

/* line 148, ../../app/stylesheets/partials/_page.scss */
#main {
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff9900), color-stop(100%, #cc6600));
  background-image: -moz-linear-gradient(top, #ff9900 0%, #cc6600 100%);
  background-image: linear-gradient(top, #ff9900 0%, #cc6600 100%);
}
/* line 152, ../../app/stylesheets/partials/_page.scss */
#main #content {
  margin-left: 100px;
  padding-top: 23px;
  padding-bottom: 25px;
}
/* line 158, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right {
  width: 260px;
  margin-right: 60px;
  float: right;
  text-align: right;
}
/* line 163, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right menu {
  margin-right: 6px;
  list-style: none;
}
/* line 166, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right menu li {
  font-size: 22px;
  color: #3A3B3F;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: #eea333 0px 1px 1px;
}
/* line 173, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right menu li a {
  text-decoration: none;
  color: #FFF;
  text-shadow: #d67f00 0px 1px 1px;
}
/* line 178, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right menu li a:hover {
  color: #3A3B3F;
  text-shadow: #eea333 0px 1px 1px;
}
/* line 184, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right h2 a {
  color: #FFF;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #d67f00 0px 1px 1px;
  font-weight: 700;
}
/* line 193, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right h2 a:hover {
  color: #3A3B3F;
  text-shadow: #eea333 0px 1px 1px;
}
/* line 197, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right h2 {
  height: 43px;
}
/* line 200, ../../app/stylesheets/partials/_page.scss */
#main #sidebar-right h3 {
  color: #3A3B3F;
  font-size: 20px;
  font-weight: 700;
  text-shadow: #eea333 0px 1px 1px;
}

/* line 208, ../../app/stylesheets/partials/_page.scss */
.ticket_link {
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 2px solid #3A3B3F;
  margin-bottom: 19px;
  margin-right: 0px !important;
  width: 254px;
}

/* line 216, ../../app/stylesheets/partials/_page.scss */
.speaker_names_big {
  list-style: none;
  font-size: 60px;
  color: #3A3B3F;
  font-weight: 700;
  padding-top: 3px;
}
/* line 222, ../../app/stylesheets/partials/_page.scss */
.speaker_names_big li {
  line-height: 56px;
}
/* line 225, ../../app/stylesheets/partials/_page.scss */
.speaker_names_big a {
  color: #3A3B3F;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #eea333 0px 1px 1px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 234, ../../app/stylesheets/partials/_page.scss */
.speaker_names_big a:hover {
  color: #FFF;
}

/* line 238, ../../app/stylesheets/partials/_page.scss */
#content h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3A3B3F;
  text-shadow: #eea333 0px 1px 1px;
}

/* line 247, ../../app/stylesheets/partials/_page.scss */
#content h1.space {
  margin-bottom: 25px;
}

/* line 250, ../../app/stylesheets/partials/_page.scss */
ul.speakers {
  margin: 0px;
  padding: 0px;
}

/* line 254, ../../app/stylesheets/partials/_page.scss */
ul.speakers li {
  list-style: none;
  margin-top: 5px;
}

/* line 258, ../../app/stylesheets/partials/_page.scss */
.details-box {
  height: 90px;
  margin-top: 15px;
  float: left;
  min-width: 127px;
}
/* line 263, ../../app/stylesheets/partials/_page.scss */
.details-box .image {
  float: left;
  height: 77px;
  width: 127px;
  margin-top: 5px;
  border: 1px solid black;
}
/* line 270, ../../app/stylesheets/partials/_page.scss */
.details-box .profile_pic {
  width: 127px;
  height: 77px;
}
/* line 274, ../../app/stylesheets/partials/_page.scss */
.details-box .text {
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
  font-size: 14px;
  width: 350px;
  font-family: sans-serif;
}
/* line 282, ../../app/stylesheets/partials/_page.scss */
.details-box .text .title {
  font-size: 24px;
  font-weight: 700;
  text-shadow: #eea333 0px 1px 1px;
  text-transform: uppercase;
  color: #3A3B3F;
  font-family: "museo-1","museo-2",sans-serif;
}
/* line 290, ../../app/stylesheets/partials/_page.scss */
.details-box .text .link {
  margin-bottom: 5px;
}
/* line 292, ../../app/stylesheets/partials/_page.scss */
.details-box .text .link a {
  color: #FFF;
  text-decoration: none;
}

/* line 302, ../../app/stylesheets/partials/_page.scss */
#content h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #3A3B3F;
  text-shadow: #eea333 0px 1px 1px;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* line 311, ../../app/stylesheets/partials/_page.scss */
#content a.twitter {
  color: #FFF;
}

/* line 314, ../../app/stylesheets/partials/_page.scss */
#content a {
  color: #3A3B3F;
}

/* line 317, ../../app/stylesheets/partials/_page.scss */
#content a:hover {
  color: #FFF;
}

/* line 320, ../../app/stylesheets/partials/_page.scss */
#content p {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 25px;
  width: 520px;
  color: #000;
}
/* line 327, ../../app/stylesheets/partials/_page.scss */
#content p a {
  text-decoration: none;
  color: #FFF;
}
/* line 331, ../../app/stylesheets/partials/_page.scss */
#content p a:hover {
  color: #3A3B3F;
}

/* line 335, ../../app/stylesheets/partials/_page.scss */
#content input {
  font-family: "museo-1","museo-2",sans-serif;
}

/* line 338, ../../app/stylesheets/partials/_page.scss */
#content input.field {
  height: 48px;
  width: 320px;
  padding-left: 15px;
  color: #D7D7D7;
  -moz-box-shadow: #333333 0px 0px 2px 0 inset;
  -webkit-box-shadow: #333333 0px 0px 2px 0 inset;
  -o-box-shadow: #333333 0px 0px 2px 0 inset;
  box-shadow: #333333 0px 0px 2px 0 inset;
  background-color: #3A3B3F;
  border-radius: 4px;
  border: 1px solid #38393D;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

/* line 351, ../../app/stylesheets/partials/_page.scss */
#content input.link-button {
  border: none;
  background: none;
  color: #3a3b3f;
  width: 75px;
  font-size: 18px;
  font-weight: 700;
  text-align: middle;
  padding: 0px;
  letter-spacing: 1.5px;
  text-shadow: #eea333 0px 1px 1px;
}

/* line 363, ../../app/stylesheets/partials/_page.scss */
#content input.link-button:hover {
  color: #FFF;
  text-shadow: #d67f00 0px 1px 1px;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../.rvm/gems/ruby-head/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
