/* line 1, ../../app/stylesheets/touch-phones.scss */
h1 {
  font-size: 40px;
}

/* line 4, ../../app/stylesheets/touch-phones.scss */
body {
  height: 360px;
}

/* line 7, ../../app/stylesheets/touch-phones.scss */
.wdcnz_logo {
  top: 20px;
  left: 18px;
}

/* line 11, ../../app/stylesheets/touch-phones.scss */
#wdcnz_logo_small {
  display: block;
}

/* line 14, ../../app/stylesheets/touch-phones.scss */
#wdcnz_logo {
  display: none;
}

/* line 17, ../../app/stylesheets/touch-phones.scss */
header {
  min-width: 330px;
  height: 198px;
}
/* line 21, ../../app/stylesheets/touch-phones.scss */
header .words {
  width: 305px;
  margin-top: 20px;
  margin-left: 18px;
  padding-top: 50px;
  padding-left: 0px;
}
/* line 28, ../../app/stylesheets/touch-phones.scss */
header .b-line {
  margin-top: 2px;
  line-height: 40px;
  height: 87px;
}
/* line 33, ../../app/stylesheets/touch-phones.scss */
header .sponsor {
  display: none;
}
/* line 36, ../../app/stylesheets/touch-phones.scss */
header .info {
  font-size: 16px;
}

/* line 42, ../../app/stylesheets/touch-phones.scss */
#main .bar {
  display: none;
  margin-bottom: 0px;
}
/* line 45, ../../app/stylesheets/touch-phones.scss */
#main .bar .image {
  width: 320px;
}

/* line 50, ../../app/stylesheets/touch-phones.scss */
.elements {
  margin-top: 18px;
  margin-left: 18px;
  width: 320px;
}
/* line 54, ../../app/stylesheets/touch-phones.scss */
.elements .input-bar {
  display: none;
}

/* line 58, ../../app/stylesheets/touch-phones.scss */
#content input.wide {
  width: 200px !important;
}

/* line 61, ../../app/stylesheets/touch-phones.scss */
.followup {
  margin-left: 18px;
  margin-top: 4px;
  width: 300px;
}
/* line 65, ../../app/stylesheets/touch-phones.scss */
.followup .text {
  font-size: 16px;
}
/* line 68, ../../app/stylesheets/touch-phones.scss */
.followup .thanks {
  width: 300px;
  margin-bottom: 10px;
}
/* line 72, ../../app/stylesheets/touch-phones.scss */
.followup .share {
  width: 300px;
}
/* line 74, ../../app/stylesheets/touch-phones.scss */
.followup .share h1 {
  display: none;
}

/* line 79, ../../app/stylesheets/touch-phones.scss */
img.typekit-badge {
  display: none !important;
}

/* line 86, ../../app/stylesheets/touch-phones.scss */
#content h1,
#content .speakers,
#content h2,
#content p,
#content form {
  margin-left: 5px;
}

/* line 89, ../../app/stylesheets/touch-phones.scss */
.speaker_names_big {
  display: none;
}

/* line 92, ../../app/stylesheets/touch-phones.scss */
#main #sidebar-right {
  float: none;
  margin-right: 5px;
  height: 250px;
  width: 100%;
}
/* line 97, ../../app/stylesheets/touch-phones.scss */
#main #sidebar-right .ticket_link {
  width: 100%;
}
/* line 99, ../../app/stylesheets/touch-phones.scss */
#main #sidebar-right .ticket_link * {
  margin-right: 5px;
}

/* line 104, ../../app/stylesheets/touch-phones.scss */
menu.secondary {
  display: none;
}

/* line 107, ../../app/stylesheets/touch-phones.scss */
menu.primary {
  border-bottom: 1px solid #EA8f05;
  padding-bottom: 10px;
}

/* line 111, ../../app/stylesheets/touch-phones.scss */
.details-box {
  float: none;
}
/* line 113, ../../app/stylesheets/touch-phones.scss */
.details-box .text {
  width: 300px;
  margin-left: 0px;
}
/* line 117, ../../app/stylesheets/touch-phones.scss */
.details-box .blurb {
  width: 300px;
}

/* line 121, ../../app/stylesheets/touch-phones.scss */
#content p {
  width: 300px !important;
}

/* line 124, ../../app/stylesheets/touch-phones.scss */
table.schedule {
  margin-left: 5px;
}
