<div id="floating-menu" class="fixed">
	<div class="register-link">
		<a href="#register">
			Register
		</a>
	</div>
	<menu type="list" id="main-menu">
		<li class="selected"><a href="#t">Home</a></li>
		<li><a href="#speakers">Speakers</a></li>
		<!--<li><a href="#programme" class="external" style="display:none">Programme</a></li>-->
		<li><a href="#venue">Venue</a></li>
		<li><a href="#sponsors">Sponsors</a></li>
		<li><a href="#contact">Contact</a></li>
		
		<li>
			<a href="http://www.twitter.com/wdcnz" class="twitter_link sm_link external"><span class="text">twitter</span></a>
			<a href="http://www.facebook.com/wdcnz" class="facebook_link sm_link external"><span class="text">facebook</span></a>
			<a href="http://www.flickr.com/photos/wdcnz" class="flickr_link sm_link external"><span class="text">flickr</span></a>
			<a href="http://vimeo.com/user7782032" class="vimeo_link sm_link external"><span class="text">vimeo</span></a>
		</li>
	</menu>
</div>