<div id="floating-menu" class="fixed">
	<div class="register-link">
		<a href="#register">
			Register
		</a>
	</div>
	<menu type="list" id="main-menu">
		<li class="selected"><a href="#home">Home</a></li>
		<li><a href="#speakers">Speakers</a></li>
		<li><a href="#programme" style="display:none">Programme</a></li>
		<li><a href="#venue">Venue</a></li>
		<li><a href="#sponsors">Sponsors</a></li>
		<li><a href="#contact">Contact</a></li>
	</menu>
</div>
</div>