-content_for :javascripts do
  %script{:type=>'text/javascript',:src=>'/javascripts/jquery-watermark.js'}
  %script{:type=>'text/javascript',:src=>'/javascripts/email-form.js'}
.box.tk-museo
  #box-header
    .at.left
      @
    .words
      .header
      %h1.b-line
        Web Dev Community
      .info
        14 JULY 2011 
        %span.divider
          |
        WELLINGTON, NZ
    .sponsor.right
      .left.cheers
        Sponsored by
      .logo.right
        %a{:href=>'http://www.xero.com'}
        %img{:src=>'/images/xero-logo-small.png'}
    
  #box-footer
    .slide.previous#slide1
      %h1
        Slide 1
    .slide.selected#slide2
      %h1
        Slide 2
    .slide.next#slide3
      %h1
        Slide 3