#description
  %p The Web Dev Conference is aimed at professional web developers working in any technology (PHP, Ruby, .NET). The event will run over two days (in early July) and will contain keynotes and workshops from some of the best in the business.

  %p WDCNZ has been formed to fulfil a desire to see people disseminate ideas beyond their usual technology silos. As such WDCNZ is at it's core a technical conference (attendees will be able to see keynotes and workshops that contain actual code examples) with an aim of getting people to experience things that might lead to a change of development skills or attitudes. 

  %p The conference will be held in Wellington, New Zealand (venue still TBC) and the provisional dates are set at 14th and 15th July 2011.


  %p To ensure that we can make it the best possible experience for delegates and ensure we can secure top speaking talent we'll be looking at a ticket price of somewhere in the region of $200

  %p We're busy planning a great programme of speakers and workshops but we'd still be keen to hear from you if you're interested in presenting or giving a workshop in key web skills. 
  
  %p Please feel free to submit ideas to <a href="mailto:submission@webdev.org.nz">submission@webdev.org.nz</a>
  
  %p alternatively if you know someone we should invite to talk why not send us a suggestion at <a href="mailto:ideas@webdev.org.nz">ideas@webdev.org.nz</a>
  
  %p follow us on <a href="https://www.facebook.com/event.php?eid=194491837240756">facebook</a> or on <a href="http://www.twitter.com/wdcnz">twitter</a> to keep up to date as we firm everything up
  .follow_bar
    .twitter
      %a.twitter{:href=>"http://www.twitter.com/wdcnz"}
        %img{:src=>"http://twitter-badges.s3.amazonaws.com/follow_us-a.png", :alt=>"Follow wcdnz on Twitter"}
    .facebook
      %iframe{:src=>"http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FWeb-Dev-Conference%2F171992346184564&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62", :scrolling=>"no", :frameborder=>"0", :style=>"border:none; overflow:hidden; width:292px; height:62px;", :allowTransparency=>"true"}