<div class="page center" id="holder">
	<div class="primary">
	<P>
		Lots of awesome<br/>
		web dev speakers<br/>
		to be announced<br/>
		early in 2013<span class="fullstop">.</span><br/>
		Oh yes<span class="fullstop">.</span>
	</P>
	<p class="closer">
		<span class="fullstop no-transform smaller">Meanwhile...</span>
		<br/>
		<a href="http://vimeo.com/user7782032" class="no-transform">Watch previous talks</a><span class="fullstop">.</span>
	</p>

	
	</div>
</div>

