%menu.speaker_names_big
  -["James Pearce","Paul Irish","Pamela Fox","Leon Bambrick","Robert Coup","Jeff Wegesin","Michael Koziarski","Jeremy Boyd","Craig Walker","Sam Minnée","Kirk Jackson","John Clegg","Layton Duncan","Karl von Randow"].each do |name|
    %li
      %a{:href => "/details/speakers\##{name}"}
        = name