<div class="page center" id="holder">
	<div class="primary">
	<P>
		Lots of awesome<br/>
		web dev speakers<br/>
		to be announced<br/>
		early in 2013<span class="fullstop">.</span><br/>
		Oh yes<span class="fullstop">.</span>
	</P>
	<p class="closer">
		<span class="fullstop no-transform smaller">Meanwhile...</span>
		<br/>
		<a href="http://vimeo.com/user7782032" class="no-transform">Watch previous talks</a><span class="fullstop">.</span>
	</p>

	
	</div>
</div>
<div class="page center collapsed" id="contact">
	<div class="primary hidden">
		<h2 class="section_title">
		   <img alt="Wdcnz_section_icon" src="/assets/wdcnz_section_icon-737bc9a6630a6b961a5f0f73408bd1b3.png" title="WDCNZ">
		   Get Updates
		</h2>
		<div class="section">
			<h3>
				Want to know as soon as we release information on WDCNZ 2013?
			</h3>
			<p>
				Just fill in your details below and we'll keep you informed
			</p>
			<form action="http://xero.createsend.com/t/y/s/pihduj/" method="post" id="subForm">
				<div>
	 				<span class="label"><label for="name">Name</label></span>
	 				<span><input type="text" name="cm-name" id="name" size="25"></span>
				</div>
				<div>
					<span class="label"><label for="pihduj-pihduj">Email</label></span>
					<span><input type="text" name="cm-pihduj-pihduj" id="pihduj-pihduj" size="25"></span>
				</div>
				<div>
					<span class="button"><input type="submit" value="Send" class="submit"></span>
				</div>
			</form>
		</div>
	</div>
</div>

