%menu.speaker_names_big
  -["James Pearce","Paul Irish","Pamela Fox","Nigel Parker","Chris Double","Leon Bambrick","Robert Coup","Jeffrey Wegesin","Michael Koziarski","Jeremy Boyd","Craig Walker","Sam Minnée","Kirk Jackson","John Clegg","Layton Duncan","Karl von Randow"].sort_by{|x|x.split.last}.each do |name|
    %li
      %a{:href => "/details/speakers\##{name}"}
        = name