-content_for :javascripts do
  %script{:type=>'text/javascript',:src=>'/javascripts/jquery-watermark.js'}
  %script{:type=>'text/javascript',:src=>'/javascripts/email-form.js'}
.box
  #box-header
    .at.left.tk-museo
      @
    .words
      .sponsor.right
        .tk-museo
          Cheers to
        .logo
      .header.tk-museo
        WDCNZ
      .b-line.tk-museo
        Web Dev Community
      .info.tk-museo
        14 JULY 2011 | WELLINGTON, NZ
    
    
  #box-footer
    .elements
      %input.wide.blue.tk-museo#email{:type=>"text"}
      %input.link-button.tk-museo{:type=>"submit", :value=>"SEND"}
    

      