%menu.speaker_names_big
  -["Paul Irish","Pamela Fox","James Pearce","Leon Bambrick","Michael Koziarski"," Robert Coup","Jeff Wegesin","Jeremy Boyd","Sam Minnée","Layton Duncan","Karl von Randow","Kirk Jackson","John Clegg"].each do |name|
    %li
      %a{:href => "/details/speakers\##{name}"}
        = name