%menu.speaker_names_big
  -["Paul Irish","Pamela Fox","James Pearce","Leon Bambrick","Michael Koziarski"," Robert Coup","Jeff Wegesin","Jeremy Boyd","Craig Walker","Sam Minnée","Kirk Jackson","John Clegg","Layton Duncan","Karl von Randow"].each do |name|
    %li
      %a{:href => "/details/speakers\##{name}"}
        = name