<!-- CSS -->

<style type="text/css">
span.label,span.spacer,span.multiple span {width:120px;float:left;} 
span.multiple {float:left;} 
span.button {padding-left:120px;} 
div.clear {clear:both;padding-top:5px;} 
</style> 

<!-- Form -->

<form action="http://xero.createsend.com/t/y/s/pihduj/" method="post" id="subForm">
<div>
  <span class="label"><label for="name">Name:</label></span>
  <span><input type="text" name="cm-name" id="name" size="25" /></span>
</div>
<div>
<span class="label"><label for="pihduj-pihduj">Email Address:</label></span>
<span><input type="text" name="cm-pihduj-pihduj" id="pihduj-pihduj" size="25" /></span>
</div>
<div>

</div>
<div>
<span class="button"><input type="submit" value="Subscribe" /></span>
</div>
</form>