@import "compass/css3/text-shadow";
@import "compass/css3/images";

$primary: #fff;
$secondary: #AF3BD4;
$tertiary: #6C227E;
$family: "museo-1","museo-2",sans-serif;

body{
	background-color: #101010;
	color: #ccc;
	font: normal 15px arial,arial, sans-serif;
	width: 100%;
}

h1, h2, h3 {
	font-family: $family;
	font-weight: 700;	
	margin: 0;
	padding: 0;		
}

h1 {
	color: $primary;
	font-size: 80px;
	line-height: 80px;
}

h2 { color: $secondary; }

a, a:link { text-decoration: none; }

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.container { margin-top: 60px; }

.center {
	margin: 0 auto;
	padding-top: 15px;
	width: 960px;
}

.inner { width: 730px; }

header {
	
	@include text-shadow(rgba(black,0.2) 0 1px 0);
	
	h2 {
		font-size: 60px;
		line-height: 65px;
		margin-left: 5px;
	}	

	.sponsor {
		float: right;
		font-size: 15px;
	}
	
	.details {
		color: $primary;
		font: 500 24px/24px $family;
		margin-left: 5px;
		text-transform: uppercase;
	}
}



div#floating-menu { 

	font-family: $family;
	color: $primary;
	text-align: right;
	
	a { color: $primary; }
	a:hover { color: $secondary; }

	&.fixed{
		float: right;
		margin-top: 83px
	}
	&.floating{
		position: fixed;
		top: 40px;	
	}

	.register-link{
	margin-bottom:60px;
	  a.big {	 	
		font-weight: 700;
	  	font-size: 24px;
	  	text-transform: uppercase;
	  	float:right;
	  }
	  a.secondary{
	  	font-weight: 500;
	  	font-size: 18px;
	  	float:right;
	  }
		a,
		a:link,
		a:visited { color: $primary; }
		a:hover { color: $secondary; }	
	  
	}
	
	menu{
		text-transform:uppercase;
		font-weigth:700;
		font-size:24px;
		text-align:right;
		list-style:none;

		li.current a { color:$secondary; }
	}
	a.sm_link {
		background: url('menu_sprites.png') no-repeat;
		display: inline-block;
		height: 18px;
		width: 19px;
		span{ display:none; }
	}
	a.twitter_link {
		background-position: 0 -20px;
		&:hover { background-position: 0 0; }
	}
	a.facebook_link {
		margin-left: 6px;
		background-position: -34px -20px;
		&:hover{ background-position: -34px 0; }
	}
	a.flickr_link {
		background-position: -58px -20px;
		&:hover { background-position: -58px 0; }
	}
	a.vimeo_link{
		margin-left: 8px;
		background-position: -89px -20px;
		&:hover{ background-position: -89px 0px; }
	}
}

span.divider{
	color: #666;
	font-weight: 300;
}




.page#holder{
	p{
		font-size:60px;
		font-weight:700;
		color:$secondary;
		font-family: $family;
		text-transform:uppercase;
		line-height:62px;
		span.fullstop {
			color:$tertiary;
		}
		.no-transform{
			text-transform:none;
		}
		span.smaller{
			font-size:36px;
		}
		a,
		a:link,
		a:visited { color: $primary; }
		a:hover { color: $secondary; }	
	}
}