@import "compass/css3/text-shadow";

body{
	background-color:#101010;
	color:#ccc;
	font-family: ariel,sans-serif;
	font-size:15px;
	
	width:100%;
}
.container{
	padding-left:40px;
	padding-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
header{
	#padding-left:40px;
	width:900px;
	margin-top:20px;
	#title{
	}
	#subtitle{
		font-weight:700;
		font-family: "museo-1","museo-2",sans-serif;
		color:#aefd47;
		font-size:60px;
		margin-left:5px;
		padding:0px;
		height:65px;
		line-height:65px;
		@include text-shadow(rgba(black,0.2) 0px 1px 0);
	}
	#datetime{
		color:#fff;
		font-size:24px;
		font-weight:500;
		margin-left:5px;
		font-family: "museo-1","museo-2",sans-serif;
		line-height:24px;
		height:24px;
		text-transform:uppercase;
		@include text-shadow(rgba(black,0.2) 0px 1px 0);
	}
}
.page{
	padding-top:15px;
	min-height:700px;
	width:750px;
	
}
.section_title{
		margin-top:20px;
		img {
			float:left;
			margin-top:20px;
			margin-right:20px;
		}
		font-size:60px;
		color:#fff;
		font-family: "museo-1","museo-2",sans-serif;
		font-weight:700;
		text-transform:uppercase;

	}
.page#home{
	padding-top:68px;
	.speaker-name{
	a{
		font-weight:700;
		font-family: "museo-1","museo-2",sans-serif;
		color:#aefd47;
		font-size:60px;
		line-height:60px;
		height:58px;
		text-transform:uppercase;
		@include text-shadow(rgba(black,0.4) 0px 1px 0);
		text-decoration:none;
	}
	a:hover{
		color:#FFF;
		}
	}
}

.page#speakers{
	.speaker{
		margin-top:35px;

	}
	.speaker_image{
		float:left;
		
	}
	.bio{
		a{
			color:#FFF;
		}
		margin-left:225px;
		width:450px;
		.title{
				font-weight:700;
			font-family: "museo-1","museo-2",sans-serif;
			text-transform:uppercase;
			font-size:30px;
			color:#aefd47;
			height:25px;
			vertical-align:top;
			line-height:24px;
		}
		.social{
			a{
				color:#FFF;
				text-decoration:none;
				font-weight:300;
				font-family: "museo-1","museo-2",sans-serif;
				font-size:18px;

			}
			a:hover{
				color:#aefd47;
				}

		}
	}
}
div#floating-menu{
	&.fixed{
		float:right;
		margin-top:63px
	}
	&.floating{
		position:fixed;
		top:40px;
		
	}
	font-family: "museo-1","museo-2",sans-serif;
	color:#fff;
	text-align:right;
	.register-link{
	  a{
	  	@include text-shadow(rgba(black,0.4) 0px 1px 0);
	 	 font-weight:700;
	  	font-size:40px;
	  	color:#fff;
	  	text-decoration:none;
	  	text-transform:uppercase;
	  }
	  a:hover{
	  	color:#aefd47;
	  }
	}
	menu{
		text-transform:uppercase;
		font-weigth:700;
		font-size:24px;
		text-align:right;
		list-style:none;
	    li a{
	     text-decoration:none;
	     color:#fff;
		}
		 li a:hover{
	  		color:#aefd47;
	  	}
		li.current a{
			color:#aefd47;
		}
	}
	a.sm_link{
		display:inline-block;
		width: 19px;
		height: 18px;
		background: url('menu_sprites.png') no-repeat;
		span{
			display:none;
		}
	}
	a.twitter_link{
		
		background-position:0 -20px;
		&:hover{
			background-position:0 0;
		}
	}

	a.facebook_link{
		margin-left:6px;
		background-position: -34px -20px;
		
		&:hover{
			background-position:-34px 0;
		}
	}
	a.flickr_link{
		
		background-position:-58px -20px;
		&:hover{
			background-position:-58px 0px;
		}
	}
	a.vimeo_link{
		margin-left:8px;
		background-position:-89px -20px;
		&:hover{
			background-position:-89px 0px;
		}
	}

}

span.divider{
	color:#666666;
	font-weight:300;

}
div.body{
	width:750px;
}

