@import "compass/css3/text-shadow";
@import "compass/css3/images";

$primary: #fff;
$secondary: #AF3BD4;
$tertiary: #6C227E;

$family: "museo-1","museo-2",sans-serif;

body{
	background-color: #101010;
	color: #ccc;
	font: normal 15px arial,arial, sans-serif;
	width: 100%;
}

h1, h2, h3 {
	font-family: $family;
	font-weight: 700;	
	margin: 0;
	padding: 0;		
}

h1 {
	color: $primary;
	font-size: 80px;
	line-height: 80px;
}

h2 { color: $secondary; }

a, a:link { text-decoration: none; }

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.container { margin-top: 30px; }

.center {
	margin: 0 auto;
	padding-top: 15px;
	width: 960px;
}

.inner { width: 730px; }

header {
	
	@include text-shadow(rgba(black,0.2) 0 1px 0);
	h1{
		line-height:60px;
	}
	h2 {
		font-size: 60px;
		line-height: 60px;
		margin-left: 5px;
	}	

	.sponsor {
		float: right;
		font-size: 15px;
		span{
			margin-right:10px;
		}
	}
	
	.details {
		color: $primary;
		font: 500 24px/24px $family;
		margin-left: 5px;
		text-transform: uppercase;
	}
}

.page {
	margin-top: 86px;
	//min-height: 700px;	
	
	a,
	a:link,
	a:visited { color: $primary; }
	a:hover { color: $secondary; }	
}

.section_title {
	color: $primary;
	font: 700 60px $family;
	text-transform: uppercase;	
	img {
		float: left;
		margin: 14px 20px 0 0;
	}
}

.page#contact{ height: 1000px; }

.page#home{
	margin-top: 30px;  
	
	a {
		color: $secondary;
		font: 700 60px/60px $family;
		height: 58px;
		text-transform: uppercase;
		@include text-shadow(rgba(black,0.4) 0 1px 0);
	}
	a:hover{ color: $primary; }
}
.page#waitinglist{
	div.section{
		margin-top:20px;
		h3{
			color: #FFF;
			font: 700 18px/18px $family;
		}
	}
	form{
		margin-top:33px;
	
		div {
			margin-top:9px;
			input{
				height:30px;
				border:none;
				padding-left:5px;
				background-color:#ebebeb;
			}
			input.submit{
				margin-left:70px;
				background:none;
				text-transform:uppercase;
				color:#FFF;
				font: 700 40px/40px $family;
				height:50px;
				padding-left:0px;
			}
			span.label{
				display:inline-block;
				width:70px;
				text-transform:uppercase;
				color:#FFF;
				font: 200 18px/18px $family;
			}
		}
	}
}
.page#sponsors,
.page#programme{
	background: url(bg-sponsor.png) repeat-y;
	background-size: 50% 100%;
	color: #666;
	.center { 
		padding-top: 0; 
		.inner{ 
			background: #ebebeb url(sponsors_bg_edge.png) repeat-y right 0;
			padding: 20px 0;	
		}
	}
	a {
		color: #000;
		text-decoration: underline;
	}
	a:hover { color: #666; }
	
	.section_title { color: #000; }
	.heros {
		position: relative;
		font-size:14px;
		color: #666;
		margin-right: 90px;
		border-bottom: 1px solid #C0C0C0;
		height: 188px;
		
		&.first {
			border-top: 1px solid #C0C0C0;
			margin-top: 10px;
		}
		&.large { height: 250px; }
		&.last { margin-bottom: 15px; }
		
		.logo{
			padding-top: 45px;
			float: left;
			text-align: center;
			width: 235px;			 
		}
		.blurb {
			float: right;
			padding: 45px 0;
			width: 405px;
			
			p { margin: 0 0 15px; }
		}
	}
}
.page#programme{
	table.programme{
		margin-top: 10px;
		border-top:1px solid #6a6a6a;
		font-family:$family;
		font-size:18px;
		font-weight:300;
		width:601px;
		color:#000;
		tr.one{
				border-bottom: none;
				td{
				padding-bottom:0px;
				}
			}
			tr.divider{
				td{
					padding-top:0px;
				padding-bottom:0px;
				}
				td.time{
					color:#666;
				}
				border-top:none;
				border-bottom:none;
			}
			tr.two{
				td{
				padding-top:0px;
			}
				border-top:none;
			}
		tr{

			td{
				padding-top:15px;
				padding-bottom:15px;
				&.details{
					text-transform:uppercase;
					color:#6a6a6a
				}
				&.bold{
					color:#000;
					font-size:32px;
					font-weight:700;
				}
				.talk{
					color:#000;
					font-size:32px;
					font-weight:700;
				}
				.tag{
					color:#000;
				}
			}
			td.time{
				padding-top:18px;
				.room{
					color:#999;
				}
				width:135px;
			}
			border-bottom:1px solid #6a6a6a;
		}
	}	
}

.page#venue {

	padding-bottom: 20px;
	
	.section_title { margin-bottom: 35px; }
	
	.hotel {
		margin-bottom:20px;
		
	 	h4 { display: inline; }		
			
		ul, li { display: inline; }
		
		li {
			border-left: 1px solid #333;	
			margin-left: 5px;
			padding-left: 5px;			
		}
		li.noDivider { 
			border: 0; 
			margin: 0;
			padding: 0;
		}
	}
	
	h3, h4 {
		color: $primary;		
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		text-transform: uppercase;
	}
	h3{ 	font-size: 32px; }
	h4 { font-size: 15px; }
	
	p {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0; 
		margin-bottom: 30px; 
	}
}

.page#speakers {
	
	margin-bottom: 75px;
	
	.speaker { margin-top: 35px; }
	.speaker_image { float: left; }
	
	h3 { color: $secondary; }
	
	.bio {
		min-height:151px;
		margin-left: 225px;
		width: 450px;
		
		h3 {
			font-size: 30px;
			line-height: 24px;
			text-transform: uppercase;
		}

		p { margin: 0; }
		
		.social{ 
			a { font: 300 18px $family; }
			a:hover { color: $secondary; }
		}
	}
}

.page#why { 
	
	min-height: 300px; 

	a { text-decoration: underline; }	
}

div#floating-menu { 

	font-family: $family;
	color: $primary;
	text-align: right;
	
	a { color: $primary; }
	a:hover { color: $secondary; }

	&.fixed{
		float: right;
		margin-top: 43px
	}
	&.floating{
		position: fixed;
		top: 40px;	
	}

	.register-link{
	margin-bottom:60px;
	  a{
	 //span.big {	 	
		font-weight: 700;
	  	font-size: 40px;
	  	text-transform: uppercase;
	  	@include text-shadow(rgba(black,0.4) 0 1px 0);		
	  	float:right;
	  //}
	  }
		a,
		a:link,
		a:visited { color: $secondary; }
		a:hover { color: $primary; }	
	  
	}
	
	menu{
		text-transform:uppercase;
		font-weigth:700;
		font-size:24px;
		text-align:right;
		list-style:none;
		li{
			margin-top:10px;
		}
		li.current a { color:$secondary; }
		li.sm_links{
			margin-top:16px;
		}
	}
	a.sm_link {
		background: url('menu_sprites.png') no-repeat;
		display: inline-block;
		height: 18px;
		width: 19px;
		span{ display:none; }
	}
	a.twitter_link {
		background-position: 0 -20px;
		&:hover { background-position: 0 0; }
	}
	a.facebook_link {
		margin-left: 6px;
		background-position: -34px -20px;
		&:hover{ background-position: -34px 0; }
	}
	a.flickr_link {
		background-position: -58px -20px;
		&:hover { background-position: -58px 0; }
	}
	a.vimeo_link{
		margin-left: 8px;
		background-position: -89px -20px;
		&:hover{ background-position: -89px 0px; }
	}
}

span.divider{
	color: #666;
	font-weight: 300;
}

