%h1.space Venue & Stuff
%h2 Where it's at
%p
  %a{:href => "http://www.macsbrewbar.co.nz/functions/index.html"}
    %strong
      Mac’s Brewhouse Function Rooms
  \- cnr Taranaki & Cable St, Wellington, NZ.
  Right by Wellington’s waterfront, 
  %a{:href => "http://www.tepapa.govt.nz/"}
    Te Papa museum 
  and the big brewhouse bar. <br/>
  Tech talks in scenic setting with food, culture and booze. You’ll be sorted!

%h2 Who's on when
%p  
  The @WDCNZ programme of speaker times is still being worked on but you can check out how it looks at the moment on <a href="http://lanyrd.com/2011/wdcnz/schedule/" target="_blank">Lanyrd</a>.<br/>
  The <strong>day runs 9:30am til 5:30pm</strong> with the Xero After Party from 6pm til late!

%h2
  Food 
  %span{:style=>"text-transform:none"}
    n' 
  drink
%p
  There will be <strong>food & drinks provided during the day</strong> (so if you have any dietary requirements please let us know when you're getting your tickets).
  Later on in the evening you can tuck into <strong>free drinks and nibbles at the Xero After Party!</strong>

%h2
  The Xero After Party!
%p
  This years @WDCNZ after party is brought to you exclusively by Xero. A live band will provide a hot line up of hits, followed by a DJ. Nibbles and drinks are included.
  <br />
  Well worth staying around for and a great networking opportunity.
%h2
  Place to stay
%p
  We've arranged special rates at a couple of nearby hotels if you need a room.
  <br/>
  <br/>
  %a{:href => "http://westplaza.co.nz"}
    %strong
      West Plaza Hotel
  Wakefiled Street, Wellington (5 mins away)<br/>
  %a{:href => "mailto:reservations@westplaza.co.nz?subject=Booking no: 21011"}
    reservations@westplaza.co.nz
  &nbsp;&nbsp;|&nbsp;&nbsp;Ref: 21011&nbsp;&nbsp;|&nbsp;&nbsp;From $135 inc GST
  <br/>
  <br/>
  %a{:href => "http://museumhotel.co.nz"}
    %strong
      Museum Hotel
  90 Cable Street, Wellington (2 mins away)<br/>
  %a{:href => "mailto:groupbookings@museumhotel.co.nz?subject=Booking ref: XERO"}
    groupbookings@museumhotel.co.nz
  &nbsp;&nbsp;|&nbsp;&nbsp;Ref: XERO&nbsp;&nbsp;|&nbsp;&nbsp;From $204.34 inc GST

%h2
  So...
%p
  %a{:href => "https://wdcnz.lilregie.com"}
    %strong
      Get yourself tickets
  and spread word via <a href="http://twitter.com/wdcnz">twitter</a>, <a href="http://facebook.com/wdcnz">facebook</a> or whatever works!

%h2
  Cheers!