.wdcnz_logo#wdcnz_logo
  %a{:href=>"/"}
    %img{:src=>'/images/wdcnz.png',:alt=>'WDCNZ'}
.wdcnz_logo#wdcnz_logo_small
  %a{:href=>"/"}
    %img{:src=>'/images/wdcnz-mobile.png',:alt=>'WDCNZ'}
.words
  %h1.b-line
    Tech talks for web devs
  .info
    14 JULY 2011 
    %span.divider
      |
    WELLINGTON, NZ
.sponsor.right
  .left.cheers
    Sponsored by
  .sponsored_by_xero_logo.right
    %a{:href=>'http://www.xero.com'}
      %img{:src=>'/images/xero-logo-small.png', :alt=>'Xero'}
.bar
