.words
  %h1.b-line
    Tech talks for web devs
  .info
    14 JULY 2011 
    %span.divider
      |
    WELLINGTON, NZ
.sponsor.right
  .left.cheers
    Sponsored by
  .logo.right
    %a{:href=>'http://www.xero.com'}
      %img{:src=>'/images/xero-logo-small.png', :alt=>'Xero'}

