.ticket_link
  %h2
    Game Over
  %h3
    ="...back again 2 Aug 2012"
.menu
  %menu.primary{:label=>"navigation"}
    %li
      Last time
    %li
      %a{:href => "http://vimeo.com/user7782032",:target=>"_blank"}
        Videos
    %li
      %a{:href => "http://www.flickr.com/photos/wdcnz/collections/72157627079176831/",:target=>"_blank"}
        Pictures
    %li{:class=>""}
      -unless current_page?(:controller => 'details', :action => 'speakers') 
        %a{:href => "/details/speakers"}
          Speaker details
      -else
        Speaker details
    %li
      -unless current_page?(:controller => 'details', :action => 'programme') 
        %a{:href => "/details/programme"}
          Programme
      -else
        Programme      
    %li
      -unless current_page?(:controller => 'details', :action => 'venue') 
        %a{:href => "/details/venue"}
          Venue & stuff
      -else
        Venue & stuff
        
  %menu.secondary{:label=>"navigation"}
    %li
      %a{:href => "http://lanyrd.com/2011/wdcnz",:target=>"_blank"}
        Lanyrd    
    %li
      %a{:href => "http://twitter.com/wdcnz",:target=>"_blank"}
        Twitter
    %li
      %a{:href => "http://facebook.com/wdcnz",:target=>"_blank"}
        Facebook
    %li
      -unless current_page?(:controller => 'email',:action=>'new') or current_page?(:controller => 'email',:action=>'create') 
        %a{:href => "/email/new"}
          Email Updates
      -else
        Email Updates