.ticket_link
  %h2
    %a{:href=>'https://wdcnz.lilregie.com'}
      Get Tickets
  %h3
    totally yours for just $269!
.menu
  %menu{:label=>"navigation"}
    %li{:class=>""}
      -unless current_page?(:controller => 'details', :action => 'speakers') 
        %a{:href => "/details/speakers"}
          Speaker details
      -else
        Speaker details
      
    %li
      -unless current_page?(:controller => 'details', :action => 'venue') 
        %a{:href => "/details/venue"}
          Venue & stuff
      -else
        Venue & stuff
    %li
      %a{:href => "http://lanyrd.com/2011/wdcnz",:target=>"_blank"}
        Lanyrd    
    %li
      %a{:href => "http://twitter.com/wdcnz",:target=>"_blank"}
        Twitter
    %li
      %a{:href => "http://facebook.com/wdcnz",:target=>"_blank"}
        Facebook
    %li
      -unless current_page?(:controller => 'email',:action=>'new') or current_page?(:controller => 'email',:action=>'create') 
        %a{:href => "/email/new"}
          Email Updates
      -else
        Email Updates