.ticket_link
  %h2
    %a{:href=>'https://wdcnz.lilregie.com'}
      Get Tickets
  %h3
    Earlybird tickets just $199!
.menu
  %menu{:label=>"navigation"}
    %li
      %a{:href => "/details/speakers"}
        Speaker details
    %li
      Venue & stuff
    %li
      Twitter
    %li
      Facebook
    %li
      Email Updates